<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Connectify - Sign-In</title>
    <link href="./css/style1.css" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style1.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="container">

        <div class="box-form">
            <div class="left">
                <img src="./images/Login-Page-Background.png" alt="">
            </div>


            <div class="right-container">

                <div class="right">

                    <div class="logo">
                        <span class="logo-img">
                            <img src="./images/logo.png" alt="">
                        </span>
                        <h2>Connectify</h3>
                    </div>
                    <div class="login-content-container">

                        <h2>Sign In</h2>
                        <div class="inputs">
                            <label for="email" id="email">Email</label>
                            <input type="text" name="email" placeholder="Enter email">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Enter password">
                            <div class="checkbox-container">
                                <div class="left-checkbox">
                                    <input type="checkbox" style="width: 10%; cursor:pointer;" name="item" class="checkbox" />
                                    <span class="text-checkbox">Remember me</span>
                                </div>
                                <div class="right-checkbox">
                                    <p><a href="./forgot-password.html">forget password?</a></p>
                                </div>
                            </div>
                        </div>
                        <button class="signup-btn">Sign In</button>
                        <div class="create-acc">
                            <p>Don't have an account? <a href="/signup-page.html">Creat Your Account</a></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- partial -->
    </div>

</body>

</html>